@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin:0; 
  padding:0;
}

html {
  height:100%;
  background: #7474bf; 
  background: -webkit-linear-gradient(to right, #7474bf, #348ac7); 
  background: linear-gradient(to right, #7474bf, #348ac7); 
}
 
/*Titulos y subtitulos*/
h1 {
  display: inline-block;
  margin: 10px;
  padding: 0.6%;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);  
}

h1 {
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(93, 85, 207) 0%, rgba(172,228,255,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 3rem;
  float:left;
  font-family: 'Open Sans', sans-serif; 
}

h2 {
  margin-left: 37%;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(93, 85, 207) 0%, rgb(93, 200, 253) 35%, rgb(1, 173, 207) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 3%;
  display: inline-block;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
}

h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(72, 167, 214) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1%;
  margin-top: 5%;
  text-transform: uppercase;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(72, 167, 214) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.text-style {
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(72, 167, 214) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3rem;
  font-family: 'Open Sans', sans-serif;
  margin: 1px;
  padding: 3px;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 25px;
}
/*Fin titulos y subtitulos*/

/*Botones*/
.centrado {
  display: flex;
  justify-content: center;
  margin: 10px;
}

p {
  text-shadow: 1px 1px 1px rgba(22, 22, 22, 0.952);
  margin-left: -5px;
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(72, 167, 214) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.btn-contador{
  margin-right: 15px;
  margin-left: 15px;
  background: transparent;
  font-size: .9em;
  line-height: 1;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease-in;
}

button:hover {
 background: transparent;
}

/*Button Cards*/
.btn:hover {
  letter-spacing: 0.3em;
  background-color: transparent;
}

button {
  height: 2.5em;
  width: 100%;
  padding: 0 auto;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-align: center;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(115, 81, 238) 35%, rgb(46, 152, 223) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.botonCarrito {
  margin-right: 15px;
  background: transparent;
  font-size: 1.45em;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease-in;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-align: center;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(115, 81, 238) 35%, rgb(46, 152, 223) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.botonCarrito:hover {
  letter-spacing: 0.35em;
  background-color: transparent;
}

.btnModCom {
  display:inline-block;
  justify-content: center;
  margin-top: 3.5%;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(115, 81, 238) 35%, rgb(46, 152, 223) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Fin botones*/

/*Cards*/
.container {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  margin-top: 25px;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  min-width: 321px;
  height: 600px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(147, 190, 231, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;  
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #7c96f3;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s;
}

img:hover {
  transform: translateY(0px) scale(0.8);
}

img {
  width: 300px;
  height: 300px;
  margin: -10px;
}

.descripcion {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
/*Fin cards*/

/*Responsive*/
/*Movil hasta 320px*/
@media screen and (max-width: 320px) {
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
.text-style {
  font-size: 2.2rem;
  margin-left: 19px;
} 
.centrado {
  margin-left: 6px;  
  font-size: 1.1rem;
  margin-top: 1%;
}

.container .card {
 min-width: 320px;
 margin-top: 10px;
 margin-bottom: 10px;
}

}
/*Fin Movil hasta 320px*/ 
/*Movil hasta 425px*/
@media screen and (min-width: 321px) and (max-width: 425px) {
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}
.text-style {
  font-size: 2.4rem;
  margin-left: 58px;
} 
.centrado {
  margin-left: 6px;  
  font-size: 1.1rem;
  margin-top: 1%;
}

.container .card {
  min-width: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}

}
/*Fin Movil hasta 425px*/
/*Tablet hasta 768px*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .text-style {
    font-size: 2.4rem;
    margin-left: 1.5%;
  } 
  .centrado {
    margin-left: 6px;  
    font-size: 1.1rem;
    margin-top: 1%;
 }

 .container .card {
  min-width: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
 }
}
/*Fin Tablet hasta 768px*/