@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin:0; 
  padding:0;
}

html {
  height:100%;
  background: #7474bf; 
  background: -webkit-linear-gradient(to right, #7474bf, #348ac7); 
  background: linear-gradient(to right, #7474bf, #348ac7); 
}

/*Navbar*/
nav {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.568) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0.904) 100%);
  margin: 0 auto;
  padding: 0 auto;
}

nav ul {
  text-align: right;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.274) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6); 
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(3, 16, 48, 0.856);
  font-size: 18px;
  text-decoration: none;
  display: block;
 
}

nav ul li i {
  padding: 18px;
  color: rgba(3, 16, 48, 0.856);
  font-size: 25px;
  text-decoration: none;
  display: block;
 
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

nav ul li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

/*Fin Navbar*/

h1 {
  display: inline-block;
  margin: 1px;
  padding: 3px;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  
}

h1 {
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(93, 85, 207) 0%, rgba(172,228,255,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 3rem;
  float:left;
  font-family: 'Open Sans', sans-serif;
  
}

.text-style {
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(72, 167, 214) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3rem;
  font-family: 'Open Sans', sans-serif;
  margin: 1px;
  padding: 3px;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 10px;
}

/*Botones*/

.centrado {

  display: flex;
  justify-content: center;
  margin: 10px;

}

.ItemCount-Button {
  width: 25px;
  height: 25px;
  margin: 10px;
  
}

p {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(22, 22, 22, 0.945);
  font-weight: bold;
  margin-left: -15px;
  font-size: 2em;
  line-height: 1;

}

.button {
  margin-right: 15px;
  padding: 30px 30px;
  color: #fff;
  background: transparent;
  font-size: .9em;
  line-height: 1;
  border: 0;
  outline: 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}

button:hover {
 background: #499fd8;
}


/*Cards*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 40px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(147, 190, 231, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #7c96f3;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s;
}


img:hover {
  transform: translateY(0px) scale(0.8);
}

img {
  width: 300px;
  height: 300px;
  margin: -10px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  -webkit-text-stroke: 0.5px rgb(13, 36, 99);
  background: rgb(62,52,221);
  background: linear-gradient(90deg, rgb(78, 70, 192) 0%, rgb(72, 167, 214) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  margin-top: 10px;
}